# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
libs

# Files from Forge MDK
forge*changelog.txt

# Key source
src/main/resources/assets/mapwriter/textures/map/border_round.psd